LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
NGROK_AUTHTOKEN=
ALLOW_ALL_LINE_SOURCES=false
ALLOWED_LINE_USER_IDS=
ALLOWED_LINE_GROUP_IDS=
ALLOWED_LINE_ROOM_IDS=
SOURCE_RATE_LIMIT_MAX=6
SOURCE_RATE_LIMIT_WINDOW_MS=60000
LINE_REPLY_DEADLINE_MS=55000
